<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505756610054-0m6l5os87fj4b7d877sn9h436772pfr0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505756610054-0m6l5os87fj4b7d877sn9h436772pfr0</string>
	<key>API_KEY</key>
	<string>AIzaSyDP_6psx-muqgmnN6KTptrxCIUEL5kCsMw</string>
	<key>GCM_SENDER_ID</key>
	<string>505756610054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cskim.PetWalk</string>
	<key>PROJECT_ID</key>
	<string>petwalk-f6bfe</string>
	<key>STORAGE_BUCKET</key>
	<string>petwalk-f6bfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505756610054:ios:d34de352833153ad87dd87</string>
	<key>DATABASE_URL</key>
	<string>https://petwalk-f6bfe.firebaseio.com</string>
</dict>
</plist>